:root {
	--width: calc(50ch * 0.9 + 2rem);
}

html,
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #1A1A1D;
	color: #97A8AE;
	font-family: sans;
	height: 100%;
}

main {
	padding: 0 1rem 1rem;
	max-width: var(--width);
	box-sizing: border-box;
	min-height: 100%;
	height: min-content;
}

p {
	margin: 0;
	padding: 0.5rem 0;
	line-height: 1.4;
	overflow-wrap: anywhere;
	font-size: 0.9rem;
}

div {
	padding: 0.25rem 0;
	display: flex;
}

a {
	color: #87B5C5;
	text-decoration: none;
	line-height: 1.4;
	overflow-wrap: anywhere;
	font-size: 0.85rem;
	letter-spacing: 1px;
}